*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body{
    background-color: rgba(24, 24, 29, 1);
}

html{
    scroll-behavior: smooth;
}